.accordion-transition {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.accordion-transition--up {
  transform: rotate(180deg);
}

.accordion-transition--down {
  transform: -(rotate(180deg));
}
