.tabs-list {
	list-style: none;
	display: flex;
	padding-inline: 0;
	gap: 0.5rem;
	margin: 0;
}

.btn.active {
	border-style: solid !important;
	border-radius: 0.25rem;
	border-color: var(--color-text-night);
}

.btn.inactive {
	border-style: solid !important;
	border-radius: 0.25rem;
	border-color: transparent;
}

.tab-content {
	background-color: var(--color-bg);
	color: var(--color-text-day);
}
