@import url("../../../styles/sizing.css");
@import url("../../../styles/spacing.css");
@import url("../../../styles/color.css");

.badge {
    padding: var(--space-xs);
    border-radius: 9999px;
    border: none;
    display: inline-flex;
    align-items: center;
    place-content: center;
    font-weight: 600;
}

.badge--content {
    text-align: center;
}

.badge--small {
    font-size: var(--text-sm);
    width: var(--size-md);
    height: var(--size-sm);
}

.badge--medium {
    font-size: var(--text-md);
    width: var(--size-lg);
    height: var(--size-md);
}

.badge--large {
    font-size: var(--text-xl);
    width: var(--size-xl);
    height: var(--size-lg);
}
