body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--color);
}

h1,
h2,
h3,
h4 {
    color: var(--color);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
}

h1 {
    font-size: var(--text-xxl);
}

h2 {
    font-size: var(--text-xl);
}

h3 {
    font-size: var(--text-lg);
}

h4 {
    font-size: var(--text-md);
}

p {
    line-height: var(--body-line-height);
}

a {
    color: var(--color);

    &:visited {
        color: var(--color);
    }
}

b,
strong {
    font-weight: bold;
}

.text-container {
    h2,
    h3,
    h4 {
        margin-top: var(--space-sm);
    }

    ul,
    ol,
    p {
        margin-bottom: var(--space-md);
    }

    ul,
    ol {
        list-style-position: outside;
        padding-left: 24px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul li,
    ol li {
        line-height: var(--body-line-height);
    }

    em {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }
}
