.iconButton {
    display: flex;
    gap: 0.1rem;
}

.iconButton--end {
    flex-direction: row;
}

.iconButton--start {
    flex-direction: row-reverse;
}

.iconButton-text {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.iconButton-icon {
    padding: 0 !important;
    margin-top: auto;
    margin-bottom: auto;
}
